In [1]:
import pandas as pd

airport_df = pd.read_csv('airports_list.csv')

In [17]:
airport_df.tail()

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
92,15370,Tulsa International,"Tulsa, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
93,12264,Washington Dulles International,"Washington, DC","WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US"
94,13851,Will Rogers World,"Oklahoma City, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
95,12191,William P Hobby,"Houston, TX","HOUSTON WILLIAM P HOBBY AIRPORT, TX US"
96,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US"

In [3]:
ontime_01_df = pd.read_csv('ONTIME_REPORTING_01.csv')
ontime_01_df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
0,1,6,7,9E,N8694A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7,1,9E,N8970D,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,32.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8,2,9E,N820AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,39.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,1,9,3,9E,N840AY,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,37.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10,4,9E,N8969A,3280,10397,ATL,"Atlanta, GA",11150,...,47.0,41.0,83.0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ontime_02_df = pd.read_csv('ONTIME_REPORTING_04.csv')
print(ontime_02_df)

        MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM  \
0           4             5            5                NK   N646NK
1           4             6            6                NK   N615NK
2           4             7            7                NK   N633NK
3           4             8            1                NK   N655NK
4           4             9            2                NK   N605NK
...       ...           ...          ...               ...      ...
612018      4            11            4                YX   N120HQ
612019      4            12            5                YX   N418YX
612020      4            14            7                YX   N113HQ
612021      4            15            1                YX   N420YX
612022      4            16            2                YX   N126HQ

        OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN ORIGIN_CITY_NAME  \
0                     779              12953    LGA     New York, NY
1                     779              12953    LGA     New York, NY
2                     779              12953    LGA     New York, NY
3                     779              12953    LGA     New York, NY
4                     779              12953    LGA     New York, NY
...                   ...                ...    ...              ...
612018               4366              11057    CLT    Charlotte, NC
612019               4366              11057    CLT    Charlotte, NC
612020               4366              11057    CLT    Charlotte, NC
612021               4366              11057    CLT    Charlotte, NC
612022               4366              11057    CLT    Charlotte, NC

        DEST_AIRPORT_ID  ... CRS_ELAPSED_TIME ACTUAL_ELAPSED_TIME  DISTANCE  \
0                 11697  ...            188.0               181.0    1076.0
1                 11697  ...            188.0               173.0    1076.0
2                 11697  ...            188.0               182.0    1076.0
3                 11697  ...            188.0               225.0    1076.0
4                 11697  ...            188.0               207.0    1076.0
...                 ...  ...              ...                 ...       ...
612018            14730  ...             91.0                94.0     335.0
612019            14730  ...             91.0                77.0     335.0
612020            14730  ...             91.0                91.0     335.0
612021            14730  ...             91.0                80.0     335.0
612022            14730  ...             91.0                91.0     335.0

        DISTANCE_GROUP  CARRIER_DELAY  WEATHER_DELAY NAS_DELAY  \
0                    5            NaN            NaN       NaN
1                    5            NaN            NaN       NaN
2                    5            NaN            NaN       NaN
3                    5            0.0            0.0      47.0
4                    5            0.0            0.0      85.0
...                ...            ...            ...       ...
612018               2           17.0            0.0       3.0
612019               2            NaN            NaN       NaN
612020               2            NaN            NaN       NaN
612021               2            NaN            NaN       NaN
612022               2            NaN            NaN       NaN

        SECURITY_DELAY  LATE_AIRCRAFT_DELAY  Unnamed: 32
0                  NaN                  NaN          NaN
1                  NaN                  NaN          NaN
2                  NaN                  NaN          NaN
3                  0.0                  0.0          NaN
4                  0.0                  0.0          NaN
...                ...                  ...          ...
612018             0.0                  0.0          NaN
612019             NaN                  NaN          NaN
612020             NaN                  NaN          NaN
612021             NaN                  NaN          NaN
612022             NaN                  NaN          NaN

[612023 rows x 33 columns]

In [5]:
ontime_03_df = pd.read_csv('ONTIME_REPORTING_07.csv')
print(ontime_03_df)

        MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM  \
0           7             8            1                AS   N464AS
1           7             8            1                AS   N464AS
2           7             8            1                AS   N551AS
3           7             8            1                AS   N264AK
4           7             8            1                AS   N530AS
...       ...           ...          ...               ...      ...
659024      7            19            5                F9   N213FR
659025      7            19            5                F9   N213FR
659026      7            19            5                F9   N213FR
659027      7            19            5                F9   N216FR
659028      7            19            5                F9   N216FR

        OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN  ORIGIN_CITY_NAME  \
0                     500              14747    SEA       Seattle, WA
1                     501              12339    IND  Indianapolis, IN
2                     502              14747    SEA       Seattle, WA
3                     503              12892    LAX   Los Angeles, CA
4                     505              14908    SNA     Santa Ana, CA
...                   ...                ...    ...               ...
659024                254              11292    DEN        Denver, CO
659025                255              11066    CMH      Columbus, OH
659026                198              11292    DEN        Denver, CO
659027                410              11292    DEN        Denver, CO
659028                410              13930    ORD       Chicago, IL

        DEST_AIRPORT_ID  ... CRS_ELAPSED_TIME ACTUAL_ELAPSED_TIME  DISTANCE  \
0                 12339  ...            255.0               244.0    1866.0
1                 14747  ...            290.0               304.0    1866.0
2                 14908  ...            175.0               157.0     978.0
3                 14747  ...            170.0               174.0     954.0
4                 14747  ...            165.0               168.0     978.0
...                 ...  ...              ...                 ...       ...
659024            11066  ...            174.0               161.0    1154.0
659025            11292  ...            191.0               165.0    1154.0
659026            11057  ...            190.0               181.0    1337.0
659027            13930  ...            154.0               158.0     888.0
659028            14193  ...            138.0               128.0     794.0

        DISTANCE_GROUP  CARRIER_DELAY  WEATHER_DELAY NAS_DELAY  \
0                    8            NaN            NaN       NaN
1                    8          192.0            0.0      14.0
2                    4            NaN            NaN       NaN
3                    4            NaN            NaN       NaN
4                    4            NaN            NaN       NaN
...                ...            ...            ...       ...
659024               5            NaN            NaN       NaN
659025               5            NaN            NaN       NaN
659026               6            NaN            NaN       NaN
659027               4            NaN            NaN       NaN
659028               4            NaN            NaN       NaN

        SECURITY_DELAY  LATE_AIRCRAFT_DELAY  Unnamed: 32
0                  NaN                  NaN          NaN
1                  0.0                  0.0          NaN
2                  NaN                  NaN          NaN
3                  NaN                  NaN          NaN
4                  NaN                  NaN          NaN
...                ...                  ...          ...
659024             NaN                  NaN          NaN
659025             NaN                  NaN          NaN
659026             NaN                  NaN          NaN
659027             NaN                  NaN          NaN
659028             NaN                  NaN          NaN

[659029 rows x 33 columns]

In [6]:
ontime_04_df = pd.read_csv('ONTIME_REPORTING_10.csv')
print(ontime_04_df)

        MONTH  DAY_OF_MONTH  DAY_OF_WEEK OP_UNIQUE_CARRIER TAIL_NUM  \
0          10             6            7                AA   N905NN
1          10             7            1                AA   N932NN
2          10             8            2                AA   N910AN
3          10             9            3                AA   N963AN
4          10            10            4                AA   N972AN
...       ...           ...          ...               ...      ...
636009     10            21            1                9E   N301PQ
636010     10            22            2                9E   N232PQ
636011     10            23            3                9E   N937XJ
636012     10            24            4                9E   N181PQ
636013     10            25            5                9E   N909XJ

        OP_CARRIER_FL_NUM  ORIGIN_AIRPORT_ID ORIGIN ORIGIN_CITY_NAME  \
0                    2308              14893    SMF   Sacramento, CA
1                    2308              14893    SMF   Sacramento, CA
2                    2308              14893    SMF   Sacramento, CA
3                    2308              14893    SMF   Sacramento, CA
4                    2308              14893    SMF   Sacramento, CA
...                   ...                ...    ...              ...
636009               5196              13487    MSP  Minneapolis, MN
636010               5196              13487    MSP  Minneapolis, MN
636011               5196              13487    MSP  Minneapolis, MN
636012               5196              13487    MSP  Minneapolis, MN
636013               5196              13487    MSP  Minneapolis, MN

        DEST_AIRPORT_ID  ... CRS_ELAPSED_TIME ACTUAL_ELAPSED_TIME  DISTANCE  \
0                 11298  ...            204.0               215.0    1431.0
1                 11298  ...            204.0               191.0    1431.0
2                 11298  ...            204.0               187.0    1431.0
3                 11298  ...            204.0               185.0    1431.0
4                 11298  ...            204.0                 NaN    1431.0
...                 ...  ...              ...                 ...       ...
636009            11618  ...            176.0               147.0    1008.0
636010            11618  ...            176.0               165.0    1008.0
636011            11618  ...            176.0               161.0    1008.0
636012            11618  ...            176.0               157.0    1008.0
636013            11618  ...            176.0               138.0    1008.0

        DISTANCE_GROUP  CARRIER_DELAY  WEATHER_DELAY NAS_DELAY  \
0                    6            0.0           73.0      11.0
1                    6            NaN            NaN       NaN
2                    6            NaN            NaN       NaN
3                    6            NaN            NaN       NaN
4                    6            NaN            NaN       NaN
...                ...            ...            ...       ...
636009               5            NaN            NaN       NaN
636010               5            0.0            0.0      53.0
636011               5            NaN            NaN       NaN
636012               5           86.0            0.0       0.0
636013               5            NaN            NaN       NaN

        SECURITY_DELAY  LATE_AIRCRAFT_DELAY  Unnamed: 32
0                  0.0                  0.0          NaN
1                  NaN                  NaN          NaN
2                  NaN                  NaN          NaN
3                  NaN                  NaN          NaN
4                  NaN                  NaN          NaN
...                ...                  ...          ...
636009             NaN                  NaN          NaN
636010             0.0                  0.0          NaN
636011             NaN                  NaN          NaN
636012             0.0                  0.0          NaN
636013             NaN                  NaN          NaN

[636014 rows x 33 columns]

In [7]:
airport_weather = pd.read_csv('Airport_Weather_2019.csv')
print(airport_weather)

                                                    NAME        DATE   AWND  \
0      ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...    1/1/2019   4.70
1      ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...    1/2/2019   4.92
2      ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...    1/3/2019   5.37
3      ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...    1/4/2019  12.08
4      ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...    1/5/2019  13.42
...                                                  ...         ...    ...
38670                TALLAHASSEE REGIONAL AIRPORT, FL US  2019-12-27   6.04
38671                TALLAHASSEE REGIONAL AIRPORT, FL US  2019-12-28   5.37
38672                TALLAHASSEE REGIONAL AIRPORT, FL US  2019-12-29   7.61
38673                TALLAHASSEE REGIONAL AIRPORT, FL US  2019-12-30   5.82
38674                TALLAHASSEE REGIONAL AIRPORT, FL US  2019-12-31   3.58

       PRCP  SNOW
0      0.14   0.0
1      0.57   0.0
2      0.15   0.0
3      1.44   0.0
4      0.00   0.0
...     ...   ...
38670  0.00   NaN
38671  0.06   NaN
38672  0.10   NaN
38673  0.02   NaN
38674  0.00   NaN

[38675 rows x 5 columns]

In [8]:
df_ontime_reporting=pd.concat([ontime_01_df,ontime_02_df,ontime_03_df,ontime_04_df],axis=0,join="outer")
df_ontime_reporting.tail()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 32
636009,10,21,1,9E,N301PQ,5196,13487,MSP,"Minneapolis, MN",11618,...,176.0,147.0,1008.0,5,NaN,NaN,NaN,NaN,NaN,NaN
636010,10,22,2,9E,N232PQ,5196,13487,MSP,"Minneapolis, MN",11618,...,176.0,165.0,1008.0,5,0.0,0.0,53.0,0.0,0.0,NaN
636011,10,23,3,9E,N937XJ,5196,13487,MSP,"Minneapolis, MN",11618,...,176.0,161.0,1008.0,5,NaN,NaN,NaN,NaN,NaN,NaN
636012,10,24,4,9E,N181PQ,5196,13487,MSP,"Minneapolis, MN",11618,...,176.0,157.0,1008.0,5,86.0,0.0,0.0,0.0,0.0,NaN
636013,10,25,5,9E,N909XJ,5196,13487,MSP,"Minneapolis, MN",11618,...,176.0,138.0,1008.0,5,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
##df_ontime_reporting.to_csv('ontime_reporting.csv', index=False)

In [12]:
columns = ["MONTH", "DAY_OF_MONTH","DAY_OF_WEEK","ORIGIN_AIRPORT_ID","DEST_AIRPORT_ID","DEST_CITY_NAME","DEP_TIME","DEP_DELAY_NEW","ARR_TIME","ARR_DELAY_NEW","DEP_DEL15","CANCELLED","DISTANCE","DISTANCE_GROUP"]
df_ontime_reporting_final=df_ontime_reporting[columns]
df_ontime_reporting_final.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP
0,1,6,7,10397,11150,"Columbus, GA",1643.0,0.0,1720.0,0.0,0.0,0.0,83.0,1
1,1,7,1,10397,11150,"Columbus, GA",1640.0,0.0,1712.0,0.0,0.0,0.0,83.0,1
2,1,8,2,10397,11150,"Columbus, GA",1640.0,0.0,1719.0,0.0,0.0,0.0,83.0,1
3,1,9,3,10397,11150,"Columbus, GA",1640.0,0.0,1717.0,0.0,0.0,0.0,83.0,1
4,1,10,4,10397,11150,"Columbus, GA",1640.0,0.0,1721.0,0.0,0.0,0.0,83.0,1

In [14]:
df_airport_reporting=pd.merge(airport_df,df_ontime_reporting_final,on='ORIGIN_AIRPORT_ID',how='outer')
df_airport_reporting.head()

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP
0,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US",1,1,2,10397,"Atlanta, GA",1523.0,0.0,1748.0,0.0,0.0,0.0,453.0,2
1,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US",1,13,7,11259,"Dallas, TX",1833.0,0.0,1940.0,0.0,0.0,0.0,296.0,2
2,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US",1,13,7,11259,"Dallas, TX",1225.0,30.0,1331.0,26.0,1.0,0.0,296.0,2
3,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US",1,13,7,11259,"Dallas, TX",647.0,0.0,754.0,0.0,0.0,0.0,296.0,2
4,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US",1,13,7,12889,"Las Vegas, NV",1419.0,24.0,1544.0,14.0,1.0,0.0,1294.0,6

In [19]:
weather_df = pd.read_csv('Airport_weather_2019.csv')
weather_df.tail()

,NAME,DATE,YEAR,MONTH,DAY,AWND,PRCP,SNOW
7497,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-10-27,2019,10,27,5.59,0.01,NaN
7498,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-10-28,2019,10,28,2.46,0.00,NaN
7499,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-10-29,2019,10,29,4.47,0.24,NaN
7500,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-10-30,2019,10,30,7.16,0.00,NaN
7501,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-10-31,2019,10,31,11.63,0.18,NaN

In [21]:
df_airport_weather=pd.merge(airport_df,weather_df,on='NAME',how='inner')
df_airport_weather.tail()

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME,DATE,YEAR,MONTH,DAY,AWND,PRCP,SNOW
5406,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",2019-10-27,2019,10,27,6.93,0.00,0.0
5407,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",2019-10-28,2019,10,28,6.49,0.00,0.0
5408,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",2019-10-29,2019,10,29,7.38,0.01,0.4
5409,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",2019-10-30,2019,10,30,5.37,0.00,0.0
5410,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",2019-10-31,2019,10,31,4.25,0.00,0.0

In [22]:
df_final=pd.merge(df_airport_reporting,df_airport_weather,on='NAME',how='inner')
df_final.tail()

,ORIGIN_AIRPORT_ID_x,DISPLAY_AIRPORT_NAME_x,ORIGIN_CITY_NAME_x,NAME,MONTH_x,DAY_OF_MONTH,DAY_OF_WEEK,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,...,ORIGIN_AIRPORT_ID_y,DISPLAY_AIRPORT_NAME_y,ORIGIN_CITY_NAME_y,DATE,YEAR,MONTH_y,DAY,AWND,PRCP,SNOW
47256538,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",10,27,7,14869,"Salt Lake City, UT",1301.0,...,10713,Boise Air Terminal,"Boise, ID",2019-10-27,2019,10,27,6.93,0.00,0.0
47256539,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",10,27,7,14869,"Salt Lake City, UT",1301.0,...,10713,Boise Air Terminal,"Boise, ID",2019-10-28,2019,10,28,6.49,0.00,0.0
47256540,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",10,27,7,14869,"Salt Lake City, UT",1301.0,...,10713,Boise Air Terminal,"Boise, ID",2019-10-29,2019,10,29,7.38,0.01,0.4
47256541,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",10,27,7,14869,"Salt Lake City, UT",1301.0,...,10713,Boise Air Terminal,"Boise, ID",2019-10-30,2019,10,30,5.37,0.00,0.0
47256542,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US",10,27,7,14869,"Salt Lake City, UT",1301.0,...,10713,Boise Air Terminal,"Boise, ID",2019-10-31,2019,10,31,4.25,0.00,0.0

In [23]:
df_final.isnull().sum()

ORIGIN_AIRPORT_ID_x              0
DISPLAY_AIRPORT_NAME_x           0
ORIGIN_CITY_NAME_x               0
NAME                             0
MONTH_x                          0
DAY_OF_MONTH                     0
DAY_OF_WEEK                      0
DEST_AIRPORT_ID                  0
DEST_CITY_NAME                   0
DEP_TIME                    925072
DEP_DELAY_NEW               925687
ARR_TIME                    967997
ARR_DELAY_NEW              1080783
DEP_DEL15                   925687
CANCELLED                        0
DISTANCE                         0
DISTANCE_GROUP                   0
ORIGIN_AIRPORT_ID_y              0
DISPLAY_AIRPORT_NAME_y           0
ORIGIN_CITY_NAME_y               0
DATE                             0
YEAR                             0
MONTH_y                          0
DAY                              0
AWND                             0
PRCP                         21594
SNOW                      18554069
dtype: int64