In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Connect to the airports_list CSV file
airport_data = "Resources/airports_list.csv"

# Create the airport_df DataFrame
airport_df = pd.read_csv(airport_data)

In [3]:
# Display the airport_df DataFrame
airport_df

,ORIGIN_AIRPORT_ID,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
0,12992,Adams Field,"Little Rock, AR","NORTH LITTLE ROCK AIRPORT, AR US"
1,10257,Albany International,"Albany, NY","ALBANY INTERNATIONAL AIRPORT, NY US"
2,10140,Albuquerque International Sunport,"Albuquerque, NM","ALBUQUERQUE INTERNATIONAL AIRPORT, NM US"
3,10299,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
...,...,...,...,...
92,15370,Tulsa International,"Tulsa, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
93,12264,Washington Dulles International,"Washington, DC","WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US"
94,13851,Will Rogers World,"Oklahoma City, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US"
95,12191,William P Hobby,"Houston, TX","HOUSTON WILLIAM P HOBBY AIRPORT, TX US"
96,10713,Boise Air Terminal,"Boise, ID","BOISE AIR TERMINAL, ID US"

In [4]:
# Determine the data types of the airport_df DataFrame
airport_df.dtypes

ORIGIN_AIRPORT_ID        int64
DISPLAY_AIRPORT_NAME    object
ORIGIN_CITY_NAME        object
NAME                    object
dtype: object

In [5]:
# Check if there are null values in the airport_df DataFrame
airport_df.isnull().sum()

ORIGIN_AIRPORT_ID       0
DISPLAY_AIRPORT_NAME    0
ORIGIN_CITY_NAME        0
NAME                    0
dtype: int64

In [6]:
# Connect to the ONTIME_REPORTING_01 CSV file
flight_data1 = "Resources/ONTIME_REPORTING_01_TC.csv"

# Create the airport_df DataFrame
flight_df = pd.read_csv(flight_data1)

In [7]:
# Display the flight_df DataFrame
flight_df

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,6,1/6/2019,7,9E,N8694A,3280,10397,ATL,"Atlanta, GA",...,NaN,47.0,37.0,83,1,NaN,NaN,NaN,NaN,NaN
1,1,7,1/7/2019,1,9E,N8970D,3280,10397,ATL,"Atlanta, GA",...,NaN,47.0,32.0,83,1,NaN,NaN,NaN,NaN,NaN
2,1,8,1/8/2019,2,9E,N820AY,3280,10397,ATL,"Atlanta, GA",...,NaN,47.0,39.0,83,1,NaN,NaN,NaN,NaN,NaN
3,1,9,1/9/2019,3,9E,N840AY,3280,10397,ATL,"Atlanta, GA",...,NaN,47.0,37.0,83,1,NaN,NaN,NaN,NaN,NaN
4,1,10,1/10/2019,4,9E,N8969A,3280,10397,ATL,"Atlanta, GA",...,NaN,47.0,41.0,83,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,1,30,1/30/2019,3,UA,N819UA,2024,14683,SAT,"San Antonio, TX",...,NaN,61.0,47.0,191,1,NaN,NaN,NaN,NaN,NaN
583981,1,30,1/30/2019,3,UA,N37462,2022,14843,SJU,"San Juan, PR",...,NaN,234.0,240.0,1571,7,NaN,NaN,NaN,NaN,NaN
583982,1,30,1/30/2019,3,UA,N37462,2021,12264,IAD,"Washington, DC",...,NaN,226.0,233.0,1571,7,NaN,NaN,NaN,NaN,NaN
583983,1,30,1/30/2019,3,UA,N26967,2020,12266,IAH,"Houston, TX",...,NaN,252.0,231.0,1635,7,11.0,0.0,0.0,0.0,11.0
583984,1,30,1/30/2019,3,UA,N821UA,2017,12266,IAH,"Houston, TX",...,NaN,67.0,55.0,191,1,NaN,NaN,NaN,NaN,NaN

In [8]:
# Keep the columns that are relevant to the machine learning model
columns = ["MONTH", "DAY_OF_MONTH", "DATE", "DAY_OF_WEEK","ORIGIN_AIRPORT_ID","DEST_AIRPORT_ID","DEST_CITY_NAME","DEP_TIME","DEP_DELAY_NEW","ARR_TIME","ARR_DELAY_NEW","DEP_DEL15","CANCELLED","DISTANCE","DISTANCE_GROUP"]
flight_df2 = flight_df[columns]
flight_df2

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643.0,0.0,1720.0,0.0,0.0,0,83,1
1,1,7,1/7/2019,1,10397,11150,"Columbus, GA",1640.0,0.0,1712.0,0.0,0.0,0,83,1
2,1,8,1/8/2019,2,10397,11150,"Columbus, GA",1640.0,0.0,1719.0,0.0,0.0,0,83,1
3,1,9,1/9/2019,3,10397,11150,"Columbus, GA",1640.0,0.0,1717.0,0.0,0.0,0,83,1
4,1,10,1/10/2019,4,10397,11150,"Columbus, GA",1640.0,0.0,1721.0,0.0,0.0,0,83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,1,30,1/30/2019,3,14683,12266,"Houston, TX",1420.0,0.0,1507.0,0.0,0.0,0,191,1
583981,1,30,1/30/2019,3,14843,12264,"Washington, DC",1407.0,0.0,1707.0,3.0,0.0,0,1571,7
583982,1,30,1/30/2019,3,12264,14843,"San Juan, PR",819.0,0.0,1312.0,2.0,0.0,0,1571,7
583983,1,30,1/30/2019,3,12266,14771,"San Francisco, CA",1858.0,43.0,2049.0,22.0,1.0,0,1635,7
583984,1,30,1/30/2019,3,12266,14683,"San Antonio, TX",1158.0,0.0,1253.0,0.0,0.0,0,191,1

In [9]:
# Determine the unique values of the "CANCELLED" flight column
flight_df2["CANCELLED"].unique().tolist()

[0, 1]

In [10]:
# Drop flights (rows) that are cancelled instead of dealyed
flight_df2 = flight_df2.drop(flight_df2[flight_df2["CANCELLED"] == 1.0].index)
flight_df2

#dataframe.drop(dataframe[<dataframe[column] == <value>>].index)

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643.0,0.0,1720.0,0.0,0.0,0,83,1
1,1,7,1/7/2019,1,10397,11150,"Columbus, GA",1640.0,0.0,1712.0,0.0,0.0,0,83,1
2,1,8,1/8/2019,2,10397,11150,"Columbus, GA",1640.0,0.0,1719.0,0.0,0.0,0,83,1
3,1,9,1/9/2019,3,10397,11150,"Columbus, GA",1640.0,0.0,1717.0,0.0,0.0,0,83,1
4,1,10,1/10/2019,4,10397,11150,"Columbus, GA",1640.0,0.0,1721.0,0.0,0.0,0,83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,1,30,1/30/2019,3,14683,12266,"Houston, TX",1420.0,0.0,1507.0,0.0,0.0,0,191,1
583981,1,30,1/30/2019,3,14843,12264,"Washington, DC",1407.0,0.0,1707.0,3.0,0.0,0,1571,7
583982,1,30,1/30/2019,3,12264,14843,"San Juan, PR",819.0,0.0,1312.0,2.0,0.0,0,1571,7
583983,1,30,1/30/2019,3,12266,14771,"San Francisco, CA",1858.0,43.0,2049.0,22.0,1.0,0,1635,7
583984,1,30,1/30/2019,3,12266,14683,"San Antonio, TX",1158.0,0.0,1253.0,0.0,0.0,0,191,1

In [11]:
# Check if there are null values in the flight_df2 DataFrame
flight_df2.isnull().sum()

MONTH                   0
DAY_OF_MONTH            0
DATE                    0
DAY_OF_WEEK             0
ORIGIN_AIRPORT_ID       0
DEST_AIRPORT_ID         0
DEST_CITY_NAME          0
DEP_TIME                0
DEP_DELAY_NEW           0
ARR_TIME              335
ARR_DELAY_NEW        1296
DEP_DEL15               0
CANCELLED               0
DISTANCE                0
DISTANCE_GROUP          0
dtype: int64

In [12]:
# Drop flights (rows) that contains null value(s) in the DataFrame
flight_df2 = flight_df2.dropna()

flight_df2

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643.0,0.0,1720.0,0.0,0.0,0,83,1
1,1,7,1/7/2019,1,10397,11150,"Columbus, GA",1640.0,0.0,1712.0,0.0,0.0,0,83,1
2,1,8,1/8/2019,2,10397,11150,"Columbus, GA",1640.0,0.0,1719.0,0.0,0.0,0,83,1
3,1,9,1/9/2019,3,10397,11150,"Columbus, GA",1640.0,0.0,1717.0,0.0,0.0,0,83,1
4,1,10,1/10/2019,4,10397,11150,"Columbus, GA",1640.0,0.0,1721.0,0.0,0.0,0,83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,1,30,1/30/2019,3,14683,12266,"Houston, TX",1420.0,0.0,1507.0,0.0,0.0,0,191,1
583981,1,30,1/30/2019,3,14843,12264,"Washington, DC",1407.0,0.0,1707.0,3.0,0.0,0,1571,7
583982,1,30,1/30/2019,3,12264,14843,"San Juan, PR",819.0,0.0,1312.0,2.0,0.0,0,1571,7
583983,1,30,1/30/2019,3,12266,14771,"San Francisco, CA",1858.0,43.0,2049.0,22.0,1.0,0,1635,7
583984,1,30,1/30/2019,3,12266,14683,"San Antonio, TX",1158.0,0.0,1253.0,0.0,0.0,0,191,1

In [13]:
# Confirm there are no null values in the DataFrame
flight_df2.isnull().sum()

MONTH                0
DAY_OF_MONTH         0
DATE                 0
DAY_OF_WEEK          0
ORIGIN_AIRPORT_ID    0
DEST_AIRPORT_ID      0
DEST_CITY_NAME       0
DEP_TIME             0
DEP_DELAY_NEW        0
ARR_TIME             0
ARR_DELAY_NEW        0
DEP_DEL15            0
CANCELLED            0
DISTANCE             0
DISTANCE_GROUP       0
dtype: int64

In [14]:
# Determine the data types of the flight_df2 DataFrame
flight_df2.dtypes

MONTH                  int64
DAY_OF_MONTH           int64
DATE                  object
DAY_OF_WEEK            int64
ORIGIN_AIRPORT_ID      int64
DEST_AIRPORT_ID        int64
DEST_CITY_NAME        object
DEP_TIME             float64
DEP_DELAY_NEW        float64
ARR_TIME             float64
ARR_DELAY_NEW        float64
DEP_DEL15            float64
CANCELLED              int64
DISTANCE               int64
DISTANCE_GROUP         int64
dtype: object

In [15]:
# Convert the float64 data type to int64
flight_df_cleaned = flight_df2.astype({"DEP_TIME": 'int', "DEP_DELAY_NEW": 'int', "ARR_TIME": 'int', "ARR_DELAY_NEW": 'int', "DEP_DEL15": 'int', "CANCELLED": 'int', "DISTANCE": 'int'})

In [16]:
# Confirm the data types of the flight_df_cleaned DataFrame
flight_df_cleaned.dtypes

MONTH                 int64
DAY_OF_MONTH          int64
DATE                 object
DAY_OF_WEEK           int64
ORIGIN_AIRPORT_ID     int64
DEST_AIRPORT_ID       int64
DEST_CITY_NAME       object
DEP_TIME              int32
DEP_DELAY_NEW         int32
ARR_TIME              int32
ARR_DELAY_NEW         int32
DEP_DEL15             int32
CANCELLED             int32
DISTANCE              int32
DISTANCE_GROUP        int64
dtype: object

In [17]:
# Merge the 2 DataFrames (flight_df_cleaned and airport_df) 
merged_df = pd.merge(flight_df_cleaned, airport_df,on="ORIGIN_AIRPORT_ID",how='inner')
merged_df

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP,DISPLAY_AIRPORT_NAME,ORIGIN_CITY_NAME,NAME
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643,0,1720,0,0,0,83,1,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
1,1,7,1/7/2019,1,10397,11150,"Columbus, GA",1640,0,1712,0,0,0,83,1,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
2,1,8,1/8/2019,2,10397,11150,"Columbus, GA",1640,0,1719,0,0,0,83,1,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
3,1,9,1/9/2019,3,10397,11150,"Columbus, GA",1640,0,1717,0,0,0,83,1,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
4,1,10,1/10/2019,4,10397,11150,"Columbus, GA",1640,0,1721,0,0,0,83,1,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514776,1,2,1/2/2019,3,10299,13930,"Chicago, IL",1949,0,424,0,0,0,2846,11,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514777,1,2,1/2/2019,3,10299,11292,"Denver, CO",2338,0,640,0,0,0,2405,10,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514778,1,1,1/1/2019,2,10299,13930,"Chicago, IL",1951,0,442,0,0,0,2846,11,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514779,1,1,1/1/2019,2,10299,11292,"Denver, CO",1,22,655,10,1,0,2405,10,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514780,1,31,1/31/2019,4,10299,11292,"Denver, CO",2330,0,641,0,0,0,2405,10,Anchorage International,"Anchorage, AK","ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."

In [18]:
# Drop irrelevant columns
merged_df_cleaned = merged_df.drop(["DISPLAY_AIRPORT_NAME", "ORIGIN_CITY_NAME"], axis=1)

In [19]:
# Dsiplay merged_df_cleaned DataFrame
merged_df_cleaned

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY_NEW,DEP_DEL15,CANCELLED,DISTANCE,DISTANCE_GROUP,NAME
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643,0,1720,0,0,0,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
1,1,7,1/7/2019,1,10397,11150,"Columbus, GA",1640,0,1712,0,0,0,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
2,1,8,1/8/2019,2,10397,11150,"Columbus, GA",1640,0,1719,0,0,0,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
3,1,9,1/9/2019,3,10397,11150,"Columbus, GA",1640,0,1717,0,0,0,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
4,1,10,1/10/2019,4,10397,11150,"Columbus, GA",1640,0,1721,0,0,0,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514776,1,2,1/2/2019,3,10299,13930,"Chicago, IL",1949,0,424,0,0,0,2846,11,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514777,1,2,1/2/2019,3,10299,11292,"Denver, CO",2338,0,640,0,0,0,2405,10,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514778,1,1,1/1/2019,2,10299,13930,"Chicago, IL",1951,0,442,0,0,0,2846,11,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514779,1,1,1/1/2019,2,10299,11292,"Denver, CO",1,22,655,10,1,0,2405,10,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."
514780,1,31,1/31/2019,4,10299,11292,"Denver, CO",2330,0,641,0,0,0,2405,10,"ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A..."

In [20]:
# Connect to the Airport_Weather_2019 CSV file
weather_data = "Resources/airport_weather_2019.csv"

# Create the airport_df DataFrame
weather_df = pd.read_csv(weather_data)

In [21]:
# Display the weather_df DataFrame
weather_df.head()

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT08,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Keep the columns that are relevant to the machine learning model
wcolumns = ["NAME", "DATE", "AWND","PRCP","TAVG", "WDF2", "WDF5", "WSF2", "WSF5"]
weather_df2 = weather_df[wcolumns]
weather_df2

,NAME,DATE,AWND,PRCP,TAVG,WDF2,WDF5,WSF2,WSF5
0,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,0.14,64.0,310.0,310.0,15.0,19.0
1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,0.57,56.0,70.0,50.0,12.1,15.0
2,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,0.15,52.0,340.0,330.0,15.0,18.1
3,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,1.44,56.0,260.0,260.0,28.0,34.0
4,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,0.00,49.0,280.0,330.0,23.9,33.1
...,...,...,...,...,...,...,...,...,...
38670,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-27,6.04,0.00,68.0,100.0,100.0,14.1,17.0
38671,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-28,5.37,0.06,69.0,100.0,100.0,13.0,16.1
38672,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-29,7.61,0.10,70.0,200.0,210.0,17.0,23.9
38673,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-30,5.82,0.02,68.0,300.0,310.0,17.0,21.9
38674,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-31,3.58,0.00,51.0,290.0,290.0,14.1,17.0

In [23]:
# Check if there are null values in the weather_df2 DataFrame
weather_df2.isnull().sum()

NAME       0
DATE       0
AWND     381
PRCP      26
TAVG    9933
WDF2     370
WDF5     481
WSF2     370
WSF5     481
dtype: int64

In [24]:
# Drop rows that contains null value(s) in the weather_df2 DataFrame
weather_df2 = weather_df2.dropna()

In [25]:
# Confirm there are no null values in the DataFrame
weather_df2.isnull().sum()

NAME    0
DATE    0
AWND    0
PRCP    0
TAVG    0
WDF2    0
WDF5    0
WSF2    0
WSF5    0
dtype: int64

In [26]:
# Determine the data types of the weather_df2 DataFrame
weather_df2.dtypes

NAME     object
DATE     object
AWND    float64
PRCP    float64
TAVG    float64
WDF2    float64
WDF5    float64
WSF2    float64
WSF5    float64
dtype: object

In [27]:
# Merge the 2 DataFrames (flight_df_cleaned and airport_df) 
final_df = pd.merge(merged_df_cleaned, weather_df2,on=["NAME", "DATE"],how='inner')
final_df

,MONTH,DAY_OF_MONTH,DATE,DAY_OF_WEEK,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,ARR_TIME,...,DISTANCE,DISTANCE_GROUP,NAME,AWND,PRCP,TAVG,WDF2,WDF5,WSF2,WSF5
0,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1643,0,1720,...,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,6.49,0.0,53.0,320.0,320.0,13.0,15.0
1,1,6,1/6/2019,7,10397,10980,"Chattanooga, TN",1631,0,1719,...,106,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,6.49,0.0,53.0,320.0,320.0,13.0,15.0
2,1,6,1/6/2019,7,10397,11150,"Columbus, GA",1018,0,1105,...,83,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,6.49,0.0,53.0,320.0,320.0,13.0,15.0
3,1,6,1/6/2019,7,10397,15249,"Tallahassee, FL",1629,12,1725,...,223,1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,6.49,0.0,53.0,320.0,320.0,13.0,15.0
4,1,6,1/6/2019,7,10397,10990,"Charlottesville, VA",2128,8,2300,...,457,2,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,6.49,0.0,53.0,320.0,320.0,13.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372863,1,29,1/29/2019,2,13577,12953,"New York, NY",1400,0,1545,...,563,3,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",16.78,0.0,-5.0,320.0,310.0,30.0,45.0
372864,1,29,1/29/2019,2,13577,11697,"Fort Lauderdale, FL",1116,190,1306,...,529,3,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",16.78,0.0,-5.0,320.0,310.0,30.0,45.0
372865,1,29,1/29/2019,2,13577,10721,"Boston, MA",2239,0,29,...,738,3,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",16.78,0.0,-5.0,320.0,310.0,30.0,45.0
372866,1,29,1/29/2019,2,13577,12953,"New York, NY",944,0,1120,...,563,3,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",16.78,0.0,-5.0,320.0,310.0,30.0,45.0
372867,1,29,1/29/2019,2,13577,10158,"Atlantic City, NJ",2133,0,2250,...,466,2,"MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US",16.78,0.0,-5.0,320.0,310.0,30.0,45.0

In [28]:
# Export to a CSV file
final_df.to_csv("Resources/final_df.csv", index=False)